<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="cart.Listener"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      
      <class name="cart.testproductselection"/>
      <class name="cart.testProceed"/>
      <class name="cart.test_confirmation"/>
     
    </classes>
  </test> <!-- Test -->
  
  <test name="values">
  <classes>
  <class name = "cart.test_values"/>
  
  </classes>
  
  </test>
</suite> <!-- Suite -->
